article.first-entry.home-info > header > h1{
  font-family: 'Eleuther', sans-serif;
  font-weight: normal;
  font-size: 200%;
}

div.announcement-listing {
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
} 

article.announcement-section > dl > dt > time {
  font-family: ui-monospace, "Segoe UI Mono", "Ubuntu Mono", "Roboto Mono", Menlo, Monaco, Consolas, monospace;
}

article.announcement-section > dl > dd > h2 {
  font-size: 1.25rem;
  margin-top: 0;
}

figure.entry-cover code,samp,kbd{
  background: var(--code-bg);
  border-radius: 2px;
}

dl.qa {
  display: initial;
  flex: none;
}

dl.qa > dt.question {
  margin-top: 0.75em;
  display: block;
  font-size: 125%;
  width: 100%;
}

dl.qa > dd.answer {
  display: block;
  margin-top: 0.5em;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0.5em;
}

dl.qa > dd.answer:not(:last-of-type),
article.announcements > div.announcement-listing > article.announcement:not(:last-of-type) {
  border-bottom: 1px solid var(--border);
}

div.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
}

body#top {
  font-size: 16px;
}

pre {
  font-family: ui-monospace, "Segoe UI Mono", "Ubuntu Mono", "Roboto Mono", Menlo, Monaco, Consolas, monospace;
}

samp {
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Ubuntu Mono", "Roboto Mono", Menlo, Monaco, Consolas, monospace;
}

div.project-grid header.entry-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

div.project-grid header.entry-header > h2 {
  line-height: 1;
}

div.project-status {
  background-color: var(--code-bg);
  padding: 0.2em 0.4em;
  color: var(--secondary);
  border-radius: 0.3em;
  font-size: 0.6em;
  width: 8em;
  text-align: center;
  text-transform: uppercase;
}

div.project-grid.small {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}

div.project-grid > article.post-entry > figure {
  margin-bottom: 10px;
}

div.project-grid article.post-entry {
  margin: 0;
}

div.project-grid.small article.post-entry {
  padding: 14px;
}

div.project-grid.small header.entry-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

div.project-grid.small header.entry-header > div.project-status {
  margin-top: 5px;
}

article.announcement > div {
  margin-top: 0;
  font-size: 0.85em;
}

article.announcement p {
  margin-bottom: 0.5em;
}

article.announcements > div.announcement-listing > article.announcement {
  margin-top: 0.75em;
}

.post-content figure table{
  width: max-content;
  margin: auto;
}

mjx-container {
  overflow-y: hidden;
}