:root {
    --gap: clamp(1em,calc(100vw / 4 - 176px),24px);
    --content-gap: 20px;
    --min-touch: 48px;
    --min-keepout: 8px;
    --nav-width: 1024px;
    --main-width: 800px;
    --header-height: 65px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #ffffff;
    --entry: #fbfbfb;
    --primary: rgba(0, 0, 0, 0.88);
    --alt-primary: rgba(0, 0, 0, 0.92);
    --secondary: rgba(0, 0, 0, 0.56);
    --tertiary: rgba(0, 0, 0, 0.16);
    --content: rgba(0, 0, 0, 0.88);
    --hljs-bg: #1c1d21;
    --code-bg: #f5f5f5;
    --border: #eee;
}

.dark {
    --theme: #1d1e20;
    --entry: #2e2e33;
    --primary: rgba(255, 255, 255, 0.84);
    --alt-primary: rgba(255, 255, 255, 0.9);
    --secondary: rgba(255, 255, 255, 0.56);
    --tertiary: rgba(255, 255, 255, 0.16);
    --content: rgba(255, 255, 255, 0.74);
    --hljs-bg: #2e2e33;
    --code-bg: #37383e;
    --border: #333;
    color-scheme: dark;
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}