{{ define "main" }}
<div class="main-container">
    <div class="content-wrapper">
        <div class="grid-1-1">
            <div class="page-content">
                <h1>{{ .Title }}</h1>
                {{.Content}}
                {{ range .Pages.ByPublishDate.Reverse }}
                    <ul class="project-list">
                        <li><a href="{{ .Permalink }}">{{.Name}}</li>
                    </ul>
                {{ end }}
            </div>
        </div>  
    </div>
</div>

{{ end }}