{{ define "main" }}
<div class="main-container">
    <div class="content-wrapper">
        <div class="grid-1-1">
            <div class="page-content">
                <h2>Blog</h2>
                {{ range .Pages.ByPublishDate.Reverse }}
                <div class="post">
                    {{ partial "metadata.html" . }}
                    <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                    <p>{{ .Summary }}</p>
                </div>
                {{ end }}
            </div>
        </div>  
    </div>
</div>

{{ end }}