{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
    </h1>
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default .Site.Params.cover.hiddenInSingle | default .Site.Params.cover.hidden }}
  <div style="display: flex; flex-direction: row-reverse; flex-wrap: wrap; justify-content: space-evenly; ">
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
    
    <dl class="post-tags" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));" >
      {{- if .Params.domain }}
      <div>
      <dt><h4>Domain</h4></dt>
      {{- range ($.GetTerms "domain") }}
      <dd style="margin-left: 0;"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></dd>
      {{- end }}</div>
      {{- end }}
      {{- if .Params.deliverables }}
      <div><dt><h4>Deliverables</h4></dt>
      {{- range ($.GetTerms "deliverables") }}
      <dd style="margin-left: 0;"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></dd>
      {{- end }}</div>
      {{- end }}
      {{- if .Params.status }}
      <div><dt><h4>Status</h4></dt>
      {{- range ($.GetTerms "status") }}
      <dd style="margin-left: 0;"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></dd>
      {{- end }}</div>
      {{- end }}
    </dl>
  </div>
  
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  <footer class="post-footer">
    {{- if .Params.tags }}
    <ul class="post-tags">
      {{- range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}