{{ define "main" }}
<div class="main-container">
    <div class="content-wrapper">
        <div class="grid-1-1">
            <div class="page-content">
                {{ .Content }}
                {{/*  <h1>{{ with .Site.GetPage "section" "pile" }}{{ .Title }}{{ end }}</h1>  */}}
                <div clas="promo-section">
                    <h4 class="promo-title">{{ .Params.promo_title}}</h4>
                    <h4 class="promo-text">{{ .Params.promo_text}}</h4>     
                </div>
            </div>
        </div>

    </div>
</div>
{{ end }}