@font-face {
    font-family: 'Eleuther';
    src: url('/fonts/eleuther.woff2') format('woff2'), 
         url('/fonts/eleuther.ttf') format('truetype');
    font-display: swap;
}

header.header {
    background-color: black;
    color-scheme: dark;
}

header.header * {
    color: white;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: var(--nav-width);
    overflow-x: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
    position: relative;
}

#menu {
    margin-left:auto;
}

.logo {
    flex-wrap: inherit;
    margin: var(--min-keepout) calc(4*var(--min-keepout)) var(--min-keepout) calc(2*var(--min-keepout));
}

.logo {
    font-size: 26px;
    font-family: 'Eleuther', sans-serif;
    font-weight: normal;
}

.logo img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    margin-inline-end: 8px;
}

.logo-text {
    position: relative;
    bottom: 4px;
}

#theme-toggle svg {
    height: 18px;
}

.nav {
    display: inline-block;
    display: flex;
    margin: auto 0;
    overflow-x: clip;
    flex-wrap: wrap;
}

.nav::after {
    display: inline-block;
    content: '';
    width: var(--min-touch);
    height: 0;
}

.nav a {
    line-height: var(--min-touch);
    display: block;
}

#menu {
    display: flex;
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li {
    margin-inline-start: 1em;
}

#menu li:last-child {
    margin-inline-end: 1em;
}

#menu a {
    font-size: 1em;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

button#theme-toggle {
    position: absolute;
    height: var(--min-touch);
    width: var(--min-touch);
    top: var(--min-keepout);
    right: var(--min-keepout);
}

button#theme-toggle img {
    margin: auto;
    width: 18px;
}

.dark button#theme-toggle img {
    transform: rotate(180deg);
}