<header class="header-container">
    <div class="content-wrapper">
        <div class="logo-container left">
            <h1 class="logo">
                <a href="{{ .Site.BaseURL}}">
                    <img src="{{ .Site.BaseURL}}{{ .Site.Params.logo_image_url}}" alt="logo">
                    <span class="logo-text">{{ $.Site.Params.logo }}</span>
                </a>
            </h1>
        </div>
        <div id="nav-border" class="nav-container right">
            <nav id="nav" class="navigation">
                {{ $current := . }}
                {{ range .Site.Menus.main }}
                  {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
                  {{ $active = or $active (eq .Name $current.Title) }}
                  {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "post")) }}
                  {{ $active = or $active (and (eq .Name "About") (eq $current.Section "tags")) }}
                  <a href="{{ .URL }}" class="{{ if $active }}active{{ end }}">{{ .Name }}</a>
                {{ end }}
            </nav>
        </div>
    </div>
</header>

