<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9KCLV8BK53"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-9KCLV8BK53');
    </script>
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL}}css/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL}}css/styles.css">
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <!-- Primary Meta Tags -->
    <meta name="title" content="EleutherAI">
    <meta name="description" content="A grassroots collective of researchers working to open source AI research.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.eleuther.ai/">
    <meta property="og:title" content="EleutherAI">
    <meta property="og:description" content="A grassroots collective of researchers working to open source AI research.">
    <meta property="og:image" content="https://www.eleuther.ai/images/meta_image.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.eleuther.ai/">
    <meta property="twitter:title" content="EleutherAI">
    <meta property="twitter:description" content="A grassroots collective of researchers working to open source AI research.">
    <meta property="twitter:image" content="https://www.eleuther.ai/images/meta_image.jpg">

</head>