<div class="main-container">
    <div class="content-wrapper">
        <div class="grid-1-1">
            <div class="page-content">
                <div clas="promo-section">
                    <h1 class="promo-title">{{ .Params.promo_title}}</h1>
                    <h4 class="promo-text">{{ .Params.promo_text}}</h4>
                    <div class="promo-buttons">
                        {{ .Content }}
                    </div>
                </div>
                <div class="home-page announcement-section">
                    {{ with .Site.GetPage "/announcements" }}{{ .Content }}{{ end }}
                </div>
                <div class="home-page projects-section">
                    {{ with .Site.GetPage "/projects-list" }}{{ .Content }}{{ end }}
                </div>
                
            </div>
        </div>

    </div>
</div>