<div class="main-container">
    <div class="content-wrapper">
        <div class="grid-1-1">
            <div class="page-content">
                <div clas="promo-section">
                    <h4 class="promo-title">{{ .Params.promo_title}}</h4>
                    <h4 class="promo-text">{{ .Params.promo_text}}</h4>
                    <h4 class="promo-text">{{ .Params.promo_button1}}</h4>
                    <div class="promo-buttons">
                        {{ .Content }}
                    </div>    
                </div>
                {{ range ((where .Site.Pages.ByDate "Section" "projects-intros"))}}
                    <div class="project-section">
                        <div class="project-icon"><img src="{{ .Site.BaseURL}}/{{ .Params.project_image }}" alt="{{ .Params.Title }}"></div>
                        <div class="project-text">
                            {{ .Content }}
                        </div>
                    </div>
                    {{ end }}
                <div>
                    {{ with .Site.GetPage "/announcements" }}{{ .Content }}{{ end }}
                </div>
            </div>
        </div>

    </div>
</div>